<?php 
	return (object) array(
        // Database Setttings
        'SERVERNAME' => 'YOUR_MYSQL_URL',
        'USERNAME' => 'YOUR_USERNAME',
        'PASSWORD' => 'YOUR_PASSWORD',
        'DBNAME' => 'YOUR_DATABASE_NAME',

        // Meetup Settings
        'API_KEY' => '', // https://secure.meetup.com/meetup_api/key/
        'GROUP_URLNAME' => '', // EX: seattle-coffee-club
        'GROUP_NAME' => '', // EX: Coffee Club of Seattle 
        'GROUP_DESCRIPTION' => '', // EX: Exploring the Seattle Coffee scene snce 2006. 

        // Website Settings 
        'PAGE_URL' => '', // The URL where you will host this code. 
        'OG_IMAGE_URL' => '', // Image for sharing to Facebook. (optional)
        'FACEBOOK_APP_ID' => '', // Get from Facebook (optional)
        'MAP_START_LAT' => '47.6092', // Replace with your location center
        'MAP_START_LON' => '-122.3177, // Replace with your location center

        // Chron Job Settings 
        'CHRON_EMAIL' => 'your@email.com', // Setup alerts in chronMeetup.php 
        'CHRON_TIMEZONE' => 'America/Los_Angeles',
        'CHRON_DEFAULT_STATE' => 'WA',
        'CHRON_DEFAULT_COUNTRY' => 'US'
    );
?>

